.content-meta {
  margin-top: 0;
  color: var(--darkgray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }

  .depth-indicator {
    font-size: 0.85em;

    .depth-dots {
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
}
